<!DOCTYPE html>
<TITLE>{% block title %}{% endblock %} - HTPC Web Ctrl</TITLE>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<style>
 	.navli {
		text-align: center;
		display: inline-block;
        /* width: 64px;
        height: 32px;
        line-height: 32px; */
        width: 48px;
        height: 24px;
        line-height: 24px;
        background-color: grey;
	}
    .nava {
        font-size:75%;
        color:honeydew;
        text-decoration:none;
    }
</style>

<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<nav style="position:fixed;right:6%;top:12px;">
    <ul style="list-style-type:none;padding:0;margin:0;">
        <li class="navli"><a class="nava" href="/">首页</a></li>
        <li class="navli"><a class="nava" href="/input">键鼠</a></li>
        <li class="navli"><a class="nava" href="/shelf">文件</a></li>
        <li class="navli"><a class="nava" href="/text">文本</a></li>
        <li class="navli"><a class="nava" href="/screen">屏幕</a></li>
    </ul>
</nav>
