{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<style>
.button {
    height:40px;
    width: 64px;
    line-height: 40px;
    text-align: center;
    margin: 4px;
    display: inline-block;
    background-color: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.fixed-row {
    height:48px;
    display: grid;
    grid-template-columns: repeat( 5, 20%);
}
.hidden {
    visibility: hidden;
}
.power{
    color:red;
}
#touchpad {
    width: 94%;
    height: 100%;
    margin-top: 30px;
    background: #ccc;
    border: grey solid 3px;
}
</style>


<div style="margin-top:18px;max-width:480px;">
    <div class="fixed-row">
        <div class="button power" onclick="call_api('button?t=fixed&id=0');">{{ fixed_btn_text[0] }}</div>
        <div class="button hidden"></div>
        <div class="button hidden"></div>
        <div class="button hidden"></div>
        <div class="button hidden"></div>
    </div>
    <div class="fixed-row">
        <div class="button" onclick="call_api('button?t=fixed&id=1');">{{ fixed_btn_text[1] }}</div>
        <div class="button hidden"></div>
        <div class="button" onclick="call_api('button?t=fixed&id=6');">{{ fixed_btn_text[6] }}</div>
        <div class="button hidden"></div>
        <div class="button" onclick="call_api('button?t=fixed&id=8');">{{ fixed_btn_text[8] }}</div>
    </div>
    <div class="fixed-row">
        <div class="button hidden"></div>
        <div class="button" onclick="call_api('button?t=fixed&id=4');">{{ fixed_btn_text[4] }}</div>
        <div class="button" onclick="call_api('button?t=fixed&id=3');">{{ fixed_btn_text[3] }}</div>
        <div class="button" onclick="call_api('button?t=fixed&id=5');">{{ fixed_btn_text[5] }}</div>
        <div class="button hidden"></div>
    </div>
    <div class="fixed-row">
        <div class="button" onclick="call_api('button?t=fixed&id=2');">{{ fixed_btn_text[2] }}</div>
        <div class="button hidden"></div>
        <div class="button" onclick="call_api('button?t=fixed&id=7');">{{ fixed_btn_text[7] }}</div>
        <div class="button hidden"></div>
        <div class="button" onclick="call_api('button?t=fixed&id=9');">{{ fixed_btn_text[9] }}</div>
    </div>
</div>

<div style="margin-top:20px;width:100%">
    </div style="margin-top:10px;margin-left:10px">
    {% for t in grid_btn_text %}
    <div class="button" onclick="call_api('button?t=grid&id={{ loop.index0 }}');">
        <span>{{ t }}</span>
    </div>
    {% endfor %}
    </dev>
</div>

<canvas id="touchpad">
    Your browser does not support canvas element!
</canvas>


<script>

var ongoingTouches = [];
var start_ts = 0;
var most_fingers = 0;

function call_api( url) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", url, false);
    xhttp.send();
}

function handleStart(evt) {
  evt.preventDefault();
  const el = document.getElementsByTagName("canvas")[0];
  const ctx = el.getContext("2d");
  const touches = evt.changedTouches;

  if ( ongoingTouches.length <= 0) {
    start_ts = Date.now();
    most_fingers = 0;
  } 
  for (let i = 0; i < touches.length; i++) {
    ongoingTouches.push(copyTouch(touches[i]));
  }
  if ( ongoingTouches.length > most_fingers) {
    most_fingers = ongoingTouches.length;
  }
}

function handleMove(evt) {
  evt.preventDefault();
  const touches = evt.changedTouches;
  move_x = move_y = move_count = 0;
  for (let i = 0; i < touches.length; i++) {
    const idx = ongoingTouchIndexById(touches[i].identifier);
    if (idx >= 0) {
      move_x += touches[i].pageX - ongoingTouches[idx].pageX;
      move_y += touches[i].pageY - ongoingTouches[idx].pageY;
      ongoingTouches.splice(idx, 1, copyTouch(touches[i]));
    }
  }
  if (ongoingTouches.length == 1) {
    call_api( '/api?evt=move&x='+move_x+'&y='+move_y);
  } else if (ongoingTouches.length == 2 && ( Math.abs( move_y) + Math.abs( move_x) >= 4)) {
    call_api( '/api?evt=scroll&x='+move_x+'&y='+move_y);
  }
}

function handleEnd(evt) {
  evt.preventDefault();
  touches = evt.changedTouches;

  for (let i = 0; i < touches.length; i++) {
    const idx = ongoingTouchIndexById(touches[i].identifier);
    if (idx >= 0) {
      ongoingTouches.splice(idx, 1);
    }
  }
  if ( ongoingTouches.length <= 0 && Date.now() - start_ts < 240) {
    if ( most_fingers == 1) {
      call_api( '/api?evt=click');
    } else if ( most_fingers == 2) {
      call_api( '/api?evt=dbclick');
    } else if ( most_fingers == 3) {
      call_api( '/api?evt=drag');
    }
  }
}

function handleCancel(evt) {
  evt.preventDefault();
  const touches = evt.changedTouches;
  for (let i = 0; i < touches.length; i++) {
    const idx = ongoingTouchIndexById(touches[i].identifier);
    ongoingTouches.splice(idx, 1);
  }
}

function copyTouch(touch) {
  return {
    identifier: touch.identifier,
    pageX: touch.pageX,
    pageY: touch.pageY
  };
}

function ongoingTouchIndexById(idToFind) {
  for (let i = 0; i < ongoingTouches.length; i++) {
    const id = ongoingTouches[i].identifier;

    if (id == idToFind) {
      return i;
    }
  }
  return -1;
}

window.onload = function startup() {
  const el = document.getElementsByTagName("canvas")[0];
  el.addEventListener("touchstart", handleStart, false);
  el.addEventListener("touchend", handleEnd, false);
  el.addEventListener("touchmove", handleMove, false);
}


</script>
{% endblock %}

