
{% extends 'base.html' %}

{% block title %}Files{% endblock %}

{% block content %}
    <div>
    <form id="upload_form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
    </form>
    </div>
    <div>
    {% for file in files %}
        <ul>
            <a href="/download/{{ file }}">{{ file }}</a>
        </ul>
    {% endfor %}
    </div>
    <script type="text/javascript">
        document.getElementById("upload_form").onchange = function() {
            // submitting the form
            document.getElementById("upload_form").submit();
        };
    </script>
{% endblock %}

